# Проект использует внутренние библиотеки и 3 внешние:
# Внешние
python-telegram-bot==22.5  # - Для работы с Telegram api
python-dotenv==1.2.1       # - Для загрузки переменных окружения из .env файла
pytest==9.0.2              # - Для запуска автоматических тестов
pytest-asyncio==1.3.0      # - Для запуска тестов асинхронных функций

# Внутренние
# sqlite3
# - Для хранения данных (пользователи, файлы, оценки)
# os
# - Для работы с файловой системой и путями
# re
# - Для очистки имён файлов с помощью регулярных выражений
# datetime
# - Для генерации временных меток при загрузке файлов
# logging
# - Для централизованного вывода сообщений и ошибок
# typing
# - Для добавления type hints (например, Optional[int])
# unittest.mock
# - Для мокирования объектов telegram в тестах